{% extends 'flags/flags_base.html' %}
{% load flags_tags %}
{% block flag %}
<tbody>
<tr><th>ID ЛОТА</th><td>{{ object.data | get_item:'lot' }}</td></tr>
<tr><th>СВЯЗИ</th><td>{{ object.data | get_item:'chain_info' }}</td></tr>
<tr><th>УЧАСТНИК - 1</th><td>{{ object.data | get_item:'supplier_A' }}</td></tr>
<tr><th>УЧАСТНИК - 2</th><td>{{ object.data | get_item:'supplier_B' }}</td></tr>
<tr><td>OCID</td><td>{{ object.data | get_item:'ocid' }}</td></tr>
<tr><td>CHAIN NODES</td><td>{{ object.data | get_item:'chain_nodes' }}</td></tr>
<tr><td>СТАТУС</td><td>{{ object.data | get_item:'tender/lots/0/status' }}</td></tr>
<tr><td>neo4j_query</td><td>{{ object.data | get_item:'neo4j_query' }}</td></tr>
<tr><td>ДЛИНА ЦЕПИ</td><td>{{ object.data | get_item:'chain_length' }}</td></tr>
</tbody>
<!--          <tbody>-->
<!--          {% for key, value in object.data.items %}-->
<!--            <tr>-->
<!--              <td>{{ key }}</td>-->
<!--              <td>{{ value }}</td>-->
<!--            </tr>-->
<!--          {% endfor %}-->
<!--          </tbody>-->
{% endblock %}