{% extends "flags/base.html" %}
{% load flags_tags %}

{% block content %}

{% if object.irregularity.pk == "NF018" %}
  {% include "flags/NF018.html" %}
{% elif object.irregularity.pk == "NF022" %}
  {% include "flags/NF022.html" %}
{% elif object.irregularity.pk == "NF030" %}
  {% include "flags/NF030.html" %}
{% elif object.irregularity.pk == "NF033" %}
  {% include "flags/NF033.html" %}
{% elif object.irregularity.pk == "NF035" %}
  {% include "flags/NF035.html" %}
{% elif object.irregularity.pk == "NF058" %}
  {% include "flags/NF058.html" %}
{% elif object.irregularity.pk == "NF025" %}
  {% include "flags/NF025.html" %}
{% elif object.irregularity.pk == "NF028" %}
  {% include "flags/NF028.html" %}
{% elif object.irregularity.pk == "NF044" %}
  {% include "flags/NF044.html" %}
{% elif object.irregularity.pk == "NF020" %}
  {% include "flags/NF020.html" %}
{% elif object.irregularity.pk == "NF031" %}
  {% include "flags/NF031.html" %}
{% elif object.irregularity.pk == "NF060" %}
  {% include "flags/NF060.html" %}
{% endif %}

{% endblock %}