{% extends "flags/base.html" %}
{% load flags_tags %}

{% block content %}
<!--<div class="container">-->
<!--  <div class="col-md-12">-->
<!--    <div class="panel panel-default">-->
      <div class="panel-heading">Flags</div>
<!--        <div class="panel-body">-->
          <table class="table">
            <thead>
              <tr>
                <th>procuring entity</th>
                <th>tender</th>
                <th>method/status</th>
                <th>dates</th>
                <th>flags</th>
              </tr>
            </thead>
            <tbody>
              {% for tender in data.results %}
              {% get_entity tender.procuring_entity as entity %}
              {% get_flags tender.id as flags %}
              {% flags_num flags as flag_len %}
                <tr data-toggle="collapse" data-target="#accordion_id_{{ tender.id }}" class="accordion-toggle table-info">
                  <td>{{ entity }}</td>
                  <td><a href="{{ tender.url }}">{{ tender.name }}</a></td>
                  <td>{{ tender.description }}</td>
                  <td>{{ tender.start_time }} - {{ tender.end_time }}</td>
                  <td>{{ flag_len }}</td>
                </tr>
                <tr>
                  <td colspan="12" class="hiddenRow">
                    <div class="accordion-body collapse" id="accordion_id_{{ tender.id }}">
<!--                      <table class="table table-striped">-->
                      <table class="table">
                        <thead>
                          <tr>
                            <th>flag</th>
                            <th>lot</th>
                            <th>lot's price</th>
                            <th>flag's date</th>
                            <th>details</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for flag in flags %}
                            <tr>
                              <td>{{ flag.irregularity }}, {{ flag.description }}</td>
                              <td>{{ flag.lot }}, {{ flag.lot.description }}</td>
                              <td>{{ flag.lot.price }}</td>
                              <td></td>
                              <td>{{ flag.data }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

{% endblock %}
