{% extends 'flags/flags_base.html' %}
{% load flags_tags %}
{% block flag %}
<tbody>
<tr><th>СТАТУС</th><td>{{ object.data | get_item:'complaints/0/status' }}</td></tr>
<tr><th>НОМЕР ЖАЛОБЫ</th><td>{{ object.data | get_item:'complaints/0/complaintNumber' }}</td></tr>
<tr><th>СУТЬ ЖАЛОБЫ</th><td>{{ object.data | get_item:'complaints/0/description' }}</td></tr>
<tr><th>ОТВЕТ</th><td>{{ object.data | get_item:'complaints/0/resolution' }}</td></tr>
<tr><td>OCID</td><td>{{ object.data | get_item:'ocid' }}</td></tr>
<tr><td>ID</td><td>{{ object.data | get_item:'id' }}</td></tr>
<tr><td>ID</td><td>{{ object.data | get_item:'complaints/0/id' }}</td></tr>
<tr><td>ДАТА</td><td>{{ object.data | get_item:'complaints/0/dateSubmitted' }}</td></tr>
<tr><td>ТИП</td><td>{{ object.data | get_item:'complaints/0/type' }}</td></tr>
<tr><td>ID ЗАКУПАЮЩЕЙ ОРГАНИЗАЦИИ</td><td>{{ object.data | get_item:'complaints/0/author/id' }}</td></tr>
</tbody>
{% endblock %}