{% extends 'flags/flags_base.html' %}
{% load flags_tags %}
{% block flag %}
<tbody>
<tr><th>ID ТЕНДЕРА</th><td>{{ object.data | get_item:'tender_number' }}</td></tr>
<tr><th>УЧАСТНИК</th><td>{{ object.data | get_item:'parties/0/identifier/legalName' }}</td></tr>
<tr><th>АДРЕС</th><td>{{ object.data | get_item:'check_address' }}</td></tr>
</tbody>

          <tbody>
          {% for key, value in object.data.items %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
          </tbody>
{% endblock %}
