{% extends "flags/base.html" %}
{% load static %}
{% load flags_tags %}

{% block content %}
<script type="text/javascript" src="{% static 'flags/js/tenders.js' %}"></script>
<input type="hidden" id="Url" data-url="{% url 'ajax_datatable_redflags' %}" />

<div class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm filters">
    <div class="row">
      <div class="col">
          <label for="flag_type">Flag type</label>
          <input type="search" class="form-control" id="flag_type" list="flagsList">
          {% get_flag_types as flag_types %}
          <datalist id="flagsList">
            {% for flag_type in flag_types %}
            <option value="{{ flag_type.name }}">{{ flag_type.id }}</option>
            {% endfor %}
          </datalist>
      </div>
      <div class="col">
        <div class="row">
          <label for="from_date">Tender's start date</label>
          <div class="col">
            <input type="search" class="form-control" id="from_date" placeholder="From">
          </div>
          <div class="col">
            <input type="search" class="form-control" id="to_date" placeholder="To">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="procuring_entity">Procuring Entity</label>
        <input type="search" class="form-control" id="procuring_entity" list="entitiesList">
        {% get_all_entities as entities %}
        <datalist id="entitiesList">
          {% for entity in entities %}
          <option value="{{ entity }}">
          {% endfor %}
        </datalist>
      </div>
      <div class="col">
          <label for="tenders">Tender</label>
          <input type="search" class="form-control" id="tenders">
      </div>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
  <div>
    <table id="datatable_redflags" width="100%" class="table table-striped table-bordered compact">
    </table>
  </div>
  </div>
</div>

{% endblock %}