{% extends "flags/base.html" %}
{% load flags_tags %}

{% block content %}
<div class="table-responsive" style="overflow:scroll">
<table class="table table-hover table-bordered table-condensed">
        <thead>
        <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>url</th>
                <th>start_time</th>
                <th>end_time</th>
                <th>procuring_entity</th>
                <th>classifier</th>
        </tr>
        </thead>
        <tbody>
            {% for dict in data.results %}
                <tr>
                    <td>{{ dict.id }}</td>
                    <td>{{ dict.name }}</td>
                    <td>{{ dict.description }}</td>
                    <td><a href="{{ dict.url }}">{{ dict.url }}</a></td>
                    <td>{{ dict.start_time }}</td>
                    <td>{{ dict.end_time }}</td>
                    <td>{{ dict.procuring_entity }}</td>
                    <td>{{ dict.classifier }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
